.profile__info {
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    'name edit'
    'hobby hobby';
  column-gap: 17px;
  margin: 10px 0 36px;
  transition: 0.3s;
  grid-row: 2 / 3;
}

@media screen and (min-width: 620px) {
  .profile__info {
    justify-self: center;
    align-self: flex-start;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin: 26px 0 0;
    grid-template-areas:
      'name edit'
      'hobby .';
  }
}

@media screen and (min-width: 920px) {
  .profile__info {
    align-items: flex-start;
    justify-self: flex-start;
    align-self: center;
    margin: 20px 0 0 30px;
  }
}
