@import url(./__img/preview-image__img.css);
@import url(./__title/preview-image__title.css);

.preview-image {
  position: relative;
  display: grid;
  grid-template-columns: min-content;
  background-color: transparent;
  max-height: 75vh;
  max-width: 75vw;
}