/*.element__info {
  align-items: center;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr min-content;
  justify-content: space-between;
  align-content: center;
  padding: 25px 18px 31px 21px;
}*/