@import url(./__logo/header__logo.css);
@import url(./__link/header__link.css);
@import url(./__nav/header__nav.css);
@import url(./__email/header__email.css);

.header {
  max-width: 882px;
  width: 100%;
  border-bottom: 1px solid rgb(33%, 33%, 33%, 0.7);
  display: flex;
  justify-content: space-between;
}

/*
  max-width: calc(100% - 19px * 2);
  */
