@import url(./__logo/header__logo.css);

.header {
  max-width: 882px;
  width: 100%;
  border-bottom: 1px solid rgb(33%, 33%, 33%, .7);
  display: flex;
}

/*
  max-width: calc(100% - 19px * 2);
  */